.container-fluid{
	margin:0;
	padding:0;
}


body{
	background-color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
	font-weight: bold;
	color:white;
}
#nav-list{
   width:100%;

margin: 0;
  padding: 0;
   background-color: yellow;
   text-align:center;
}
#nav-list li:hover{
	font-weight: bold;
	background-color: grey;
}

#column{
	background-color:green;
	min-height:1000px;
	margin:5%;
	padding:5%;
}